Repository Netflix-Skunkworks/service-capacity-modeling: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, no-str-enum-pattern

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: trailing-whitespace
      - id: flake8
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - --fix
          - lf
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic
          - types-setuptools>=80.9.0.20251223  # https://github.com/python/typeshed/issues/15220
          - boto3-stubs
          - numpy
          - importlib-resources
        args:
          - --config-file=.mypy.ini
        exclude: ^tests/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: .tox/pre-commit/bin/pylint
        require_serial: true
        language: system
        types: [python]
        verbose: true
      - id: no-str-enum-pattern
        name: forbid (str, Enum) pattern - use StrEnum instead
        entry: python -c "import sys; import re; content=open(sys.argv[1]).read(); match=re.search(r'class\s+\w+\(str,\s*Enum\)', content); sys.exit(1 if match and 'enum_utils' not in sys.argv[1] else 0)"
        language: system
        types: [python]
        exclude: ^tests/
      - id: capture-baseline
        name: capture cost baseline
        entry: .tox/capture-baseline/bin/python -m service_capacity_modeling.tools.capture_baseline_costs
        language: system
        always_run: true
        pass_filenames: false
fail_fast: true

fix(models): allocate network transfer costs per region (#293)
  service_capacity_modeling/models/common.py
  service_capacity_modeling/tools/capture_baseline_costs.py
  service_capacity_modeling/tools/data/baseline_costs.json
  service_capacity_modeling/tools/data/baseline_uncertain.json
  tests/netflix/test_uncertain_regression.py
  tests/test_common.py
Due: pylint, no-str-enum-pattern

feat: allow Cassandra min instance RAM override
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra.py
Due: pylint, no-str-enum-pattern

feat: allow Cassandra min instance RAM override (#294)
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra.py
Due: pylint, no-str-enum-pattern

Allow looser Cassandra disk utilization override
  service_capacity_modeling/models/org/netflix/cassandra.py
Due: pylint, no-str-enum-pattern

Allow looser Cassandra disk utilization override (#295)
  service_capacity_modeling/models/org/netflix/cassandra.py
Due: pylint, no-str-enum-pattern

Update Cassandra disk utilization bounds test
  tests/netflix/test_cassandra_ebs_buffer.py
Due: pylint

Update Cassandra disk utilization bounds test (#296)
  tests/netflix/test_cassandra_ebs_buffer.py
Due: pylint

generate auto-shape for m8id. update README and instance_families schema
  README.md
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_m8id.json
  service_capacity_modeling/tools/instance_families.py
Due: pylint, no-str-enum-pattern

fix: use AWS-reported 4.5GHz for m8a/r8a/c8a to reflect ~24% uplift over m7a
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_c8a.json
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_m8a.json
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_r8a.json
  service_capacity_modeling/tools/instance_families.py
Due: pylint, no-str-enum-pattern

feat: add AWS 8th gen AMD Turin (m8a, r8a, c8a) instance families
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_c8a.json
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_m8a.json
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_r8a.json
  service_capacity_modeling/tools/instance_families.py
Due: pylint, no-str-enum-pattern

chore: regenerate cost baselines for m8a/r8a/c8a Turin families
  service_capacity_modeling/tools/data/baseline_costs.json
  service_capacity_modeling/tools/data/baseline_uncertain.json
Due: none

test: update planner expectations for Turin (m8a/r8a/c8a) picks
  tests/netflix/test_cassandra.py
  tests/netflix/test_cassandra_scale_constraints.py
  tests/netflix/test_evcache.py
  tests/netflix/test_java_app.py
Due: pylint

fix: use all-core Turin clock (4.0GHz) for m8a/r8a/c8a via --cpu-freq-from nflx
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_c8a.json
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_m8a.json
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_r8a.json
  service_capacity_modeling/tools/data/baseline_costs.json
  service_capacity_modeling/tools/data/baseline_uncertain.json
  tests/netflix/test_cassandra.py
  tests/netflix/test_cassandra_scale_constraints.py
  tests/netflix/test_evcache.py
  tests/netflix/test_java_app.py
Due: pylint

Add average Cassandra service cost inputs
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra.py
Due: pylint, no-str-enum-pattern

no-mistakes(review): Preserve planner APIs and isolate Cassandra cost overrides
  service_capacity_modeling/capacity_planner.py
  service_capacity_modeling/models/common.py
  service_capacity_modeling/models/org/netflix/cassandra.py
  service_capacity_modeling/tools/capture_baseline_costs.py
  service_capacity_modeling/tools/data/baseline_costs.json
  service_capacity_modeling/tools/data/baseline_uncertain.json
  tests/netflix/test_cassandra.py
  tests/netflix/test_uncertain_regression.py
  tests/test_common.py
  tests/test_model_scoped_instance_filters.py
  tests/test_reproducible.py
Due: pylint, no-str-enum-pattern

Document Cassandra average service cost semantics
  service_capacity_modeling/capacity_planner.py
  service_capacity_modeling/explainability.py
  service_capacity_modeling/models/org/netflix/cassandra.py
Due: pylint, no-str-enum-pattern

no-mistakes(review): Restore shared pricing, planner APIs, and snapshot stability
  service_capacity_modeling/capacity_planner.py
  service_capacity_modeling/models/common.py
  service_capacity_modeling/models/org/netflix/cassandra.py
  service_capacity_modeling/tools/capture_baseline_costs.py
  service_capacity_modeling/tools/data/baseline_costs.json
  service_capacity_modeling/tools/data/baseline_uncertain.json
  tests/netflix/test_cassandra.py
  tests/netflix/test_uncertain_regression.py
  tests/test_common.py
  tests/test_model_scoped_instance_filters.py
  tests/test_reproducible.py
Due: pylint, no-str-enum-pattern

Remove unrelated documentation churn
  service_capacity_modeling/capacity_planner.py
  service_capacity_modeling/explainability.py
  service_capacity_modeling/models/org/netflix/cassandra.py
Due: pylint, no-str-enum-pattern

no-mistakes(document): Clarify Cassandra bottom-up cost override documentation
  service_capacity_modeling/models/org/netflix/cassandra.py
Due: pylint, no-str-enum-pattern

Model Cassandra backup configuration
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra.py
Due: pylint, no-str-enum-pattern

Normalize Cassandra regional service costs
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra.py
Due: pylint, no-str-enum-pattern

Use zero retention to disable Cassandra backups
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra.py
Due: pylint, no-str-enum-pattern

Refresh Cassandra service cost baselines
  service_capacity_modeling/tools/data/baseline_costs.json
  service_capacity_modeling/tools/data/baseline_uncertain.json
  tests/netflix/test_cassandra.py
Due: pylint

Document Cassandra regional service cost semantics
  service_capacity_modeling/models/org/netflix/cassandra.py
Due: pylint, no-str-enum-pattern

fix(models): correct Cassandra regional service cost allocation (#299)
  service_capacity_modeling/models/org/netflix/cassandra.py
  service_capacity_modeling/tools/data/baseline_costs.json
  service_capacity_modeling/tools/data/baseline_uncertain.json
  tests/netflix/test_cassandra.py
Due: pylint, no-str-enum-pattern

support different_family_regret
  service_capacity_modeling/models/org/netflix/evcache.py
  tests/netflix/test_evcache.py
Due: pylint, no-str-enum-pattern
