Repository Netflix-Skunkworks/service-capacity-modeling: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, no-str-enum-pattern

pylint:
  name: pylint
  entry: .tox/pre-commit/bin/pylint
  require_serial: true
  language: system
  verbose: true

no-str-enum-pattern:
  name: forbid (str, Enum) pattern - use StrEnum instead
  entry: python -c "import sys; import re; content=open(sys.argv[1]).read(); match=re.search(r'class\s+\w+\(str,\s*Enum\)', content); sys.exit(1 if match and 'enum_utils' not in sys.argv[1] else 0)"
  language: system

test: accept m8id as unpenalized Cassandra sizing winner
  tests/netflix/test_cassandra_instance_sizing.py
Due: pylint

Regenerate cost baselines for m8id family
  service_capacity_modeling/tools/data/baseline_costs.json
  service_capacity_modeling/tools/data/baseline_uncertain.json
Due: none

fix(cassandra): tighten deployed EBS evidence contract
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra.py
Due: pylint, no-str-enum-pattern

fix(cassandra): project shared EBS IOPS from aligned demand
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra.py
Due: pylint, no-str-enum-pattern

fix(read-only-kv): make SST memory placement safe
  service_capacity_modeling/models/org/netflix/partition_aware_algorithm.py
  service_capacity_modeling/models/org/netflix/read_only_kv.py
  service_capacity_modeling/tools/data/baseline_costs.json
  tests/netflix/test_partition_aware_algorithm.py
  tests/netflix/test_read_only_kv.py
Due: pylint, no-str-enum-pattern

fix(read-only-kv): gate SST memory placement by buffer
  service_capacity_modeling/models/org/netflix/read_only_kv.py
  service_capacity_modeling/tools/data/baseline_costs.json
  tests/netflix/test_read_only_kv.py
Due: pylint, no-str-enum-pattern

fix(read-only-kv): model SST memory overhead
  service_capacity_modeling/models/org/netflix/partition_aware_algorithm.py
  service_capacity_modeling/models/org/netflix/read_only_kv.py
  service_capacity_modeling/tools/data/baseline_costs.json
  tests/netflix/test_partition_aware_algorithm.py
  tests/netflix/test_read_only_kv.py
Due: pylint, no-str-enum-pattern

fix(cassandra): enforce censored EBS evidence boundaries
  service_capacity_modeling/models/common.py
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra.py
  tests/test_resource_counts.py
Due: pylint, no-str-enum-pattern

fix(read-only-kv): use semantic memory buffers
  service_capacity_modeling/models/org/netflix/read_only_kv.py
  tests/netflix/test_read_only_kv.py
Due: pylint, no-str-enum-pattern

Harden deployed EBS evidence boundaries
  service_capacity_modeling/models/common.py
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra.py
  tests/test_resource_counts.py
Due: pylint, no-str-enum-pattern

fix(read-only-kv): use semantic memory buffers (#320)
  service_capacity_modeling/models/org/netflix/read_only_kv.py
  tests/netflix/test_read_only_kv.py
Due: pylint, no-str-enum-pattern

Default Cassandra cluster sizing to unrestricted
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra.py
Due: pylint, no-str-enum-pattern

Regenerate certain Cassandra cost baselines
  service_capacity_modeling/tools/data/baseline_costs.json
Due: none

feat(time-series): default the Cassandra tier to EBS
  service_capacity_modeling/models/org/netflix/time_series.py
  tests/netflix/test_time_series_cassandra_ebs.py
Due: pylint, no-str-enum-pattern

test: preserve Cassandra instance regret invariant
  tests/netflix/test_cassandra_instance_sizing.py
Due: pylint

test: isolate optional doubling regret behavior
  tests/netflix/test_cassandra.py
  tests/netflix/test_cassandra_instance_sizing.py
  tests/netflix/test_cassandra_large_instance_regret.py
Due: pylint

test: keep uncertain snapshots on doubling
  service_capacity_modeling/tools/capture_baseline_costs.py
Due: pylint, no-str-enum-pattern

refactor(time-series): inline the Cassandra EBS conditions
  service_capacity_modeling/models/org/netflix/time_series.py
  tests/netflix/test_time_series_cassandra_ebs.py
Due: pylint, no-str-enum-pattern

test: remove doubling-coupled assertions
  tests/netflix/test_cassandra_memory.py
  tests/netflix/test_key_value.py
Due: pylint

Default Cassandra cluster sizing to unrestricted (#322)
  service_capacity_modeling/models/org/netflix/cassandra.py
  service_capacity_modeling/tools/capture_baseline_costs.py
  service_capacity_modeling/tools/data/baseline_costs.json
  tests/netflix/test_cassandra.py
  tests/netflix/test_cassandra_instance_sizing.py
  tests/netflix/test_cassandra_large_instance_regret.py
  tests/netflix/test_cassandra_memory.py
  tests/netflix/test_key_value.py
Due: pylint, no-str-enum-pattern

feat(time-series): default the Cassandra tier to EBS (#321)
  service_capacity_modeling/models/org/netflix/time_series.py
  tests/netflix/test_time_series_cassandra_ebs.py
Due: pylint, no-str-enum-pattern

Add m8id instance family (Granite Rapids + local NVMe) (#291)
  README.md
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_m8id.json
  service_capacity_modeling/tools/auto_shape.py
  service_capacity_modeling/tools/data/baseline_costs.json
  service_capacity_modeling/tools/data/baseline_uncertain.json
  service_capacity_modeling/tools/instance_families.py
Due: pylint, no-str-enum-pattern

test(cassandra): capture c7a EBS placement
  tests/netflix/test_cassandra_scale_constraints.py
Due: pylint

Regenerate stale m7a/c7a/r7a/m6a cpu_ipc_scale (#315)
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_c7a.json
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_m6a.json
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_m7a.json
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_r7a.json
  service_capacity_modeling/tools/data/baseline_costs.json
  service_capacity_modeling/tools/data/baseline_uncertain.json
  tests/netflix/test_cassandra_scale_constraints.py
  tests/test_common.py
  tests/tools/test_cpu_ipc_scale_invariant.py
Due: pylint

Add with_effective_cpu() helper to resize instances without corrupting HT signal (#317)
  service_capacity_modeling/models/common.py
  tests/test_buffers.py
Due: pylint, no-str-enum-pattern

Prefer EBS for Cassandra through maintenance regret
  service_capacity_modeling/explainability.py
  service_capacity_modeling/models/org/netflix/cassandra.py
  service_capacity_modeling/models/org/netflix/time_series.py
  service_capacity_modeling/tools/data/baseline_costs.json
  service_capacity_modeling/tools/data/baseline_uncertain.json
  tests/netflix/test_cassandra.py
  tests/netflix/test_cassandra_ephemeral_maintenance_regret.py
  tests/netflix/test_cassandra_explainability.py
  tests/netflix/test_cassandra_family_migration.py
  tests/netflix/test_cassandra_scale_constraints.py
  tests/netflix/test_key_value.py
  tests/netflix/test_time_series_cassandra_ebs.py
Due: pylint, no-str-enum-pattern

Keep m8id opt-in while availability is limited
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_m8id.json
  service_capacity_modeling/tools/data/baseline_costs.json
  service_capacity_modeling/tools/data/baseline_uncertain.json
  service_capacity_modeling/tools/instance_families.py
  tests/test_generate_scenarios.py
Due: pylint, no-str-enum-pattern

Keep m8id opt-in while availability is limited (#324)
  service_capacity_modeling/hardware/profiles/shapes/aws/auto_m8id.json
  service_capacity_modeling/tools/data/baseline_costs.json
  service_capacity_modeling/tools/data/baseline_uncertain.json
  service_capacity_modeling/tools/instance_families.py
  tests/test_generate_scenarios.py
Due: pylint, no-str-enum-pattern

Add Cassandra keyspace placement service costs
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra.py
Due: pylint, no-str-enum-pattern

Model Cassandra keyspace topology for fleet sizing
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra.py
Due: pylint, no-str-enum-pattern

Model Cassandra keyspace topology for fleet sizing (#325)
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra.py
Due: pylint, no-str-enum-pattern

Tune Cassandra local-disk maintenance regret
  service_capacity_modeling/models/org/netflix/cassandra.py
  tests/netflix/test_cassandra_ephemeral_maintenance_regret.py
Due: pylint, no-str-enum-pattern

Add Valkey ElastiCache capacity model
  service_capacity_modeling/hardware/profiles/pricing/aws/3yr-reserved_elasticache.json
  service_capacity_modeling/hardware/profiles/shapes/aws/manual_valkey_instances.json
  service_capacity_modeling/interface.py
  service_capacity_modeling/models/org/netflix/__init__.py
  service_capacity_modeling/models/org/netflix/valkey.py
  service_capacity_modeling/tools/fetch_pricing.py
  tests/netflix/test_valkey.py
  tests/tools/test_fetch_pricing.py
Due: pylint, no-str-enum-pattern

Calibrate r7g Lua capacity floor
  service_capacity_modeling/models/org/netflix/valkey.py
  tests/netflix/test_valkey.py
Due: pylint, no-str-enum-pattern

Model Valkey per-item memory overhead
  service_capacity_modeling/models/org/netflix/valkey.py
  tests/netflix/test_valkey.py
Due: pylint, no-str-enum-pattern

Fix Valkey memory overhead to 8.1
  service_capacity_modeling/models/org/netflix/valkey.py
  tests/netflix/test_valkey.py
Due: pylint, no-str-enum-pattern

Refactor Valkey capacity calculations
  service_capacity_modeling/models/org/netflix/valkey.py
Due: pylint, no-str-enum-pattern

Path conditions:
  pylint: any of: \.py$
  no-str-enum-pattern: any of: \.py$, but not: ^tests/
